In [1]:
import numpy as np
import pandas as pd

In [2]:
s = pd.Series(np.arange(5), index = ['a', 'b', 'c', 'd', 'e'])
s

a    0
b    1
c    2
d    3
e    4
dtype: int32

In [3]:
s = pd.Series(np.linspace(0, 1, 5))
s

0    0.00
1    0.25
2    0.50
3    0.75
4    1.00
dtype: float64

In [4]:
d = {"a": 10, "b": 20, "c": 30, "g": 40}
pd.Series(d)

a    10
b    20
c    30
g    40
dtype: int64

In [5]:
pd.Series(d, index = ["a", "b", "c", "g"])

a    10
b    20
c    30
g    40
dtype: int64

In [6]:
pd.Series(np.arange(5), index = np.arange(3, 8))

3    0
4    1
5    2
6    3
7    4
dtype: int32

In [7]:
s = pd.Series(np.arange(5), index = ["a", "b", "c", "d", "e"])

print(s["a"])
print(s[["a", "d"]])
print(s[1:])
print(s + s)

0
a    0
d    3
dtype: int32
b    1
c    2
d    3
e    4
dtype: int32
a    0
b    2
c    4
d    6
e    8
dtype: int32

In [8]:
s[s % 2 == 0].index.values

array(['a', 'c', 'e'], dtype=object)

In [9]:
s.name = "Мой первый Series"
s.index.name = "Индекс"

s

Индекс
a    0
b    1
c    2
d    3
e    4
Name: Мой первый Series, dtype: int32

In [10]:
students_marks_dict = { "student": ["Студент_1", "Студент_2", "Студент_3"],
                        "math": [5, 3, 4],
                        "physics": ["coal", "soap", "pallen"] }

students = pd.DataFrame(students_marks_dict)
print(students)

     student  math physics
0  Студент_1     5    coal
1  Студент_2     3    soap
2  Студент_3     4  pallen

In [11]:
print(students.index)
print(students.columns)

RangeIndex(start=0, stop=3, step=1)
Index(['student', 'math', 'physics'], dtype='object')

In [12]:
students.index = ["A", "B", "C"]
students

     student  math physics
A  Студент_1     5    coal
B  Студент_2     3    soap
C  Студент_3     4  pallen

In [13]:
students.loc["B":]

     student  math physics
B  Студент_2     3    soap
C  Студент_3     4  pallen

In [14]:
physics = pd.DataFrame({"name_v": ['soap', 'pallen', 'coat'], "num": [1, 2, 3]})

print(physics)

   name_v  num
0    soap    1
1  pallen    2
2    coat    3

In [15]:
print(type(students["student"]))

<class 'pandas.core.series.Series'>

In [18]:
val = (students[students["student"] == "Студент_2"]["physics"].values[0])
print(val)

soap

In [21]:
physics[physics["name_v"] == val]['num'].values[0]

1

In [24]:
with_course = students.sort_values(["math", "student"], ascending=False).head()
with_course

     student  math physics
A  Студент_1     5    coal
C  Студент_3     4  pallen
B  Студент_2     3    soap

In [26]:
students.assign(total_score=["15", "25", "30"])

     student  math physics total_score
A  Студент_1     5    coal          15
B  Студент_2     3    soap          25
C  Студент_3     4  pallen          30